body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    height: 500px;
    margin-bottom: 150px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    padding-top: 60px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}

h1{
    font-size: 50px;
}
h1 span{
    color: rgb(218, 31, 177);
}
.orange{
    color: orange;
}
.top-heading{
    margin-top: 0;
}
.button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(241, 20, 186), rgb(123, 65, 199));
    border-radius: 5px; 
    padding: 15px 40px;
    font-weight: 700;
    color: #fff;margin-top: 20px;
    margin-top: 20px;
    display: inline-block;
}

.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.rashed{
    border-radius: 50%;
}
h2{
    font-size: 40px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 0 150px;
}
.developer div{
    box-shadow: 5px 7px 40px gray;
    height: 330px;
    text-align: justify;
    padding: 20px;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}